@import url('https://cdn.jsdelivr.net/gh/picturepan2/spectre@0.5.1/dist/spectre.min.css');
@import url('https://fonts.googleapis.com/css?family=Slabo+27px');


body {
    background: url("https://source.unsplash.com/random/1920x1080") no-repeat;
}

body {
}

@font-face {
            font-family: 'WenYue-HouXianDaiTi-NC-W4-75';
            src: url("WenYue-HouXianDaiTi-NC-W4-75.ttf") format("truetype");
            font-weight: normal;
            font-style: normal;
        }

@font-face {
            font-family: 'WenYue-GuDianMingChaoTi-NC-W5';
            src: url("WenYue-GuDianMingChaoTi-NC-W5.ttf") format("truetype");
            font-weight: normal;
            font-style: normal;
}    
    
        h1{
          font-family: "WenYue-GuDianMingChaoTi-NC-W5";
        }

        h2{
          font-family: "WenYue-HouXianDaiTi-NC-W4-75";
        }

        p{
          font-family: 'Slabo 27px', serif;
          font-size: 1.1rem;
      }

.grid-hero h1 {
    color: #000;
    font-size: 2.1rem;
    margin-bottom: 1.5rem;
  }
  
  .grid-hero h2 {
    color: #515151;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.5rem;
    margin-bottom: 1.5rem;
  }

  /* Spectre Homepage style */
.section-hero {
    padding: 1rem .5rem;
  }
  
  .section-hero .docs-brand {
    position: absolute;
    top: .85rem;
  }
  
  .section-hero .docs-brand h2 {
    color: #5755d9;
  }
  
  .section-hero .column {
    padding: .4rem;
  }

  .docs-content > .container {
    margin-left: 0;
    max-width: 800px;
    padding-bottom: 1.5rem;
  }

  .docs-content .docs-block.bg-gray {
    background: #f0f1f4;
  }

